<style>
  .card {
    width: 100%;
  }
  .form-group {
    width: 100%;
  }

</style>
{% extends "blog/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div>
    <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Digite seu nome">
      </div>
      <div class="form-group">
          <label for="lname">Senha</label>
          <input type="password" id="lname" name="lastname" placeholder="Digite sua senha">
          </div>
          </select><p>
            <input type="submit" value="Entrar" class="btn btn-outline-dark mb-3"/>
            <input type="hidden" name="next" value="{{ next }}" /> 
        </form>
      </div>

<p><a href="{% url 'password_reset' %}">Perdeu a senha?</a></p>
 
{% endblock %}


