{% load static %}
<!doctype html>
<html lang="pt-br">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dépayser</title>
    <link rel="shortcut icon" href="http://oi66.tinypic.com/34g5ao5.jpg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
    <style "type= text/css">
     body  {
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                background:#000 url({% static 'screen.jpg' %}) center fixed;
                color : white;}
                #carouselExampleControls{
                  width: 100%;
                  height: 100px;
                }

               .coluna{
                 float: left;
                 width: 33.33%;
                }

                .active img { 
                  max-height: 400px 
                  float: left;
                }

                .col-md-3 {
                float: right;
                /*width: 30%;*/
                margin-top: 10px; 
                }
                #foto1 {
                 float: center;
                    width: 33.33%;
  
               }
                h2 {
                    border-bottom: 10px solid #fff ;
                    margin-top: 10px;
                }
                .buscar {
                  border: 8px;
                  background-color: #000000;
                  background: #f7f7f7;
                  padding: 20px;
                  border: 1px solid #000;
                  color: #000;

                }
                .nomecompra{
                  float: center;
                }
                h4 {
                    border-bottom: 2px solid #000000;
                    margin-top: -10px;
                    padding-top: -10px;
                }
                #pesquisa {
                  margin-left: 50%;
                }
                #fotoheader {
                  margin: -15px;
                  margin-left: -25px;
                }
                #info1 {
                  float: right;
                  
                }
                  #info2 {
                  float: right;
                  
                }
                #info3 {
                  float: right;
                  margin-top: -170px;
                  margin-right: 430px;
                }
                #fotoheader {
                  margin-left: -20px;
                }
                .card {
                  margin-top: 10px;
                  float: left;
                  margin-left: 0px;
                }
                .container {
                  margin-left: 20px;
                }
                h1 {
                  font-size: 100px;
                }
                .grid-container {
                 display: inline-grid;
                }
                .card-body {
                  color: black;
                }
                #obrasde {
                  color: black;
                }
                #capa {
                  margin-top: 30px;
                }
                #aa {
                  float: left
                }

     </style>
    <body>
<div id="capa">
<center><img src="{% static 'sla3.png'  %}" width="1200px" height="400"></center></div>
<center>
  <nav class="navbar navbar-expand-lg navbar-light bg-black" id="navbar">
      
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="navbar-brand" href="{% url 'post_list' %}">Homepage <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artistas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in categorias %}
           <a style="color: rgb(0, 0, 0)" href="{% url 'category-detail' category.pk%}">{{category.name}}</a><h2></h2>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand" href="sobre.html">Sobre <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand" href="{% url 'login'%}">Login <span class="sr-only">(current)</span></a>
      </li>
      <div id="pesquisa">
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
          <input class="form-control mr-sm-2" type="text" name="q" aria-label="Pesquisar" placeholder="O que você procura?">
          <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Buscar">
        </form>
      </div>
    </ul>
  </div>
</nav>
</div>
</center>
{% block content %}
{% endblock %}

</center>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>