{% extends "blog/base.html" %}
{% block content %}
<div id="obrasde"><center><h3>Obras de {{category.name}}</h3></center></div>
<div class="row"></div>
{% for post in object.posts.all %}
<div class="grid-container">
  <div class="grid-item">
    <div class="col-md-3">
    <div class="card" style="width: 20rem; height: 22rem;">
      <img class="card-img-top" style="width: 100%; height: 13rem;" src="{{ post.banner.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-text">{{ post.description }}</p>
        <a href="{% url 'post-detail' post.pk %}" class="btn btn-dark">Conhecer</a>
      </div>
    </div>
  </div>
</div>
    </div>
    {% endfor %}
    </div>
{% endblock %}


