{% extends "blog/base.html" %}
<center><h2>Nicholas Roerich</h2></center><h4></h4>
{% for post in object_list %}
            <h4>{{post.title}}</h4>
            <p>{{ post.description }}</p>
            <b> Author:</b> {{ post.author}}
            <b> Categoria:</b> {{ post.category.name}}
        {% endfor %}
<table>
  <tr>
    <td><img id="nicholas" width="150" height="200" src='http://oi66.tinypic.com/snow8m.jpg'/></td>
    
    <td> Nicholas Roerich, na grafia inglesa, foi um pintor, escritor, historiador, poeta e professor espiritual (líder intelectual) russo. </br>
Educado no seio de uma família apologista da paz, interessava-se por literatura, filosofia, arqueologia e, especialmente, arte.
<br>→O Pacto de Roerich, a 15 de Abril de 1935, foi assinado nos EUA juntamente com mais vinte e um países da América, representando este um antecipado instrumento de proteção às artes. </br></td> 
  </tr>
 
</table>

<center><h3>Obras:</h3></center>
<h4></h4><center>
<div id="card1" class="card" style="width: 18rem;">
  <img width="150" height="220"class="card-img-top" src="http://oi64.tinypic.com/335dt2o.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Krishna</h5>
    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    <a href="#" class="btn btn-dark">Visitar</a>
  </div>
</div>

<div id="card2" class="card" style="width: 18rem;">
  <img width="150" height="220"class="card-img-top" src="http://oi65.tinypic.com/2s6ac12.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Lotus</h5>
    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    <a href="#" class="btn btn-dark">Visitar</a>
  </div>
</div>


<div id="card2" class="card" style="width: 18rem;">
  <img width="150" height="220"class="card-img-top" src="http://oi68.tinypic.com/2rlzuy1.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Moses, The Leader</h5>
    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    <a href="#" class="btn btn-dark">Visitar</a>
  </div>
</div>
</center>

{% endblock %}