{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<div class="card mb-3" width="50%">
    <img class="card-img-top" height="600px" width="400" src="{{ object.banner.url }}" alt="Card image cap"/>
    <div class="card-body">
      <h5 class="card-title"><h4>{{object.title}}</h4></h5>
      <p class="card-text">{{ object.text|safe}}</p>
      <p class="card-text"><small class="text-muted"><b>Autor:</b> {{ object.author}}<P>
        <b>Artista:</b> {{ object.category}}<br>
      <b>{{ object.create_at}}</b></small></p>
      {% for comment in post.comments.all %}
		<p>
			<b>{{ comment.author }}</b>
			{{ comment.text }}
			{{ comment.created_at }}
    </p>
    
  {% endfor %}
  <form method="POST" action="{% url 'comment' object.id %}">
      <div class="form-group">
		{% csrf_token %}
		<textarea name="text">
		</textarea>
		<input type="submit" value="Comentar" class="btn btn-outline-dark">
	</form>
</div>
</div>
</div>
{% endblock %}