{% block content %}
            <h4>{{object.title}}</h4>
            {{ object.description }}</p>
            <b>Autor:</b> {{ object.author}}
            <b>Categoria:</b> {{ object.category}}
            <b>{{ object.create_at}}</b>
            {{ object.text}}

{% endblock %}