<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>


    
<div id="nomes1">
<h5>
<div id="info1">
    <center><p><b>Mais Populares:<br></p></center></b>
<a href="#"><img src="http://oi68.tinypic.com/2e1geh4.jpg" id="caras"alt="goethe1"/></a>Nicholas Roerich
</div>
<div id="info2">
Van Gogh <a href="#"><img class="image-bg dld-radius-50" src="#" id="caras"alt="goethe1"/> </a>
</div>
<div id="info3">
<a href="#"><img src="http://oi65.tinypic.com/jkvvbr.jpg" id="caras"alt="goethe1"/></a> Claude Monet
</div>
</div>
</h5>
