<style "type= text/css">
.card {
  
}
</style>

{% extends "blog/base.html" %}
{% block content %}
{% for post in object_list %}
<div class="grid-container">
  <div class="grid-item">
<div class="row">
<div class="col-md-2">
<div class="card" style="width: 20rem; height: 22rem;">
  <img class="card-img-top" style="width: 100%; height: 13rem;" src="{{ post.banner.url }}" alt="Card image cap"/>
  <div class="card-body">
    <h3 class="card-title">{{object.title}}</h3>
    <p class="card-text">{{ post.description }}</p>
    <a href="{% url 'post-detail' post.pk %}" class="btn btn-dark">Conhecer</a>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}